.navbar {
  background-color: rgba(32, 35, 41, 0.8);
  color: white;
}

#short-bio {
  padding: 120px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

#photo {
  padding: 0;
}

#colophon p {
  color: grey;
}

#colophon a {
  color: grey;
  text-decoration: underline;
}
